.login-container {
  margin: 5rem auto 0 auto;
  display: flex;
  min-height: 62vh;
  border: 1px solid;
  width: 25rem;
  border: none;
  box-shadow: var(--full-box-shadow);
  padding: 0 2rem;
  border-radius: 5px;
  position: relative;
}

.login-header {
  margin: 1.5rem 0 1rem 9rem;
  display: flex;
  position: absolute;
}

.login-details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.7rem;
  margin-top: 4rem;
}

.subdetails-header {
  font-weight: bold;
  font-size: 0.9rem;
  text-align: left;
}

.login-input {
  border: 1px solid var(--primary-color);
  padding: 0.4rem;
  width: 100%;
  margin-left: -0.1rem;
}

.forgot-password {
  display: flex;
  margin-top: 0.3rem;
}

.password-remember,
.forgot-password-text {
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 0.2rem;
}

.forgot-password-text {
  color: var(--primary-color);
  cursor: pointer;
  margin-left: 3rem;
}

.btn-container {
  overflow: hidden;
  text-align: center;
  margin-top: 1rem;
}

.login-btn {
  padding: 0.6rem 9rem;
  color: var(--color-white);
  background-color: var(--primary-color);
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.login-btn-test {
  padding: 0.5rem 4rem;
  color: var(--color-white);
  background-color: var(--primary-color);
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  align-items: center;
}

.login-btn:hover,
.login-btn-test:hover {
  background-color: var(--primary-hover);
}

.new-account {
  margin: 19rem 0 0 4.8rem;
  position: absolute;
}

.new-account .text {
  text-decoration: none;
  color: var(--badge-background);
  font-weight: bold;
}
