.note-list-wrapper {

     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
     gap: 0.6rem;
     width: 65%;
     margin: auto;
}


.note-list-wrapper > * {

    width: 100%;
    align-self: center;
    justify-self: center;
}
